@font-face {
  font-family: px;
  font-weight: 100;
  src: url("assets/fonts/PxGrotesk/PxGrotesk-Light.ttf");
}
@font-face {
  font-family: px;
  font-weight: 200;
  src: url("assets/fonts/PxGrotesk/PxGrotesk-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: px;
  /* background-color: black; */
  overflow-x: hidden;
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
}
.text {
  color: black;
  text-align: center;
  width: 50%;
  font-size: 30px;
  font-weight: 200;
  z-index: 1;
}
#container {
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1;
}
.sezione {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro3 {
  display: flex;
  flex-direction: column;
}
.bottone {
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-family: px;
  font-size: 22px;
  padding: 6px 18px 6px 18px;
  transition: 0.5s;
}

.bottone:hover {
  background-color: white;
  color: black;
}
i {
  color: rgb(0, 119, 255);
}

/* ---------------NAVBAR----------------------- */

#navbar {
  position: fixed;
  justify-content: space-between;
  width: 100%;
  display: flex;
  /* background-color: #262626; */
  font-size: 22px;
  top: 0;
  z-index: 2;
  font-weight: 200;
}

.navbar-button {
  padding: 6px;
}
.chapters-button {
  padding-left: 12px;
  padding-right: 12px;
}

#navbar a:hover {
  color: black;
  transition: 0.2s;
}

#active,
#home,
#about {
  color: rgb(0, 0, 0);
}

a {
  color: #5c5c5c;
  text-decoration: none;
  font-weight: normal;
}

#thumbnail-group {
  width: 100vw;
  position: absolute;
  left: 20%;
  /* top: 225vh; */
  width: 60%;
}

.thumbnail {
  display: inline-block;
  /* width: 170px;
  height: 100px; */
  width: 10vw;
  height: 11vh;
  margin: 5px 5px 5px 5px;
  top: 100vh;
  background-color: aqua;
  z-index: 9;
  transition: 0.5s;
}

#intro2 {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.sotto {
  z-index: 0;
}
h1 {
  font-style: normal;
  font-size: 200px;
  font-weight: 100;
}
#landing {
  display: flex;
  flex-direction: column;
}
#freccia {
  height: 50px;
  position: absolute;
  bottom: 40px;
}
