@font-face {
  font-family: px;
  font-weight: 100;
  src: url("assets/fonts/PxGrotesk/PxGrotesk-Light.ttf");
}
@font-face {
  font-family: px;
  font-weight: 200;
  src: url("assets/fonts/PxGrotesk/PxGrotesk-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: px;
  /* background-color: black; */
  overflow-x: hidden;
  font-weight: 100;
  /* overflow-y: scroll; */
}

canvas {
  display: block;
  position: absolute;
  z-index: -1;
}
.text {
  color: black;
  text-align: center;
  width: 50%;
  font-size: 30px;
  font-weight: 100;
  z-index: 1;
  transition: 0.7s;
}
#container {
  display: flex;
  flex-direction: column;
  top: 0;
  z-index: 1;
  transition: 0.7s;

  /* scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  width: 100vw; */
}
.sezione {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */

  /* scroll-snap-align: start; */
}
#intro3 {
  display: flex;
  flex-direction: column;
}
.bottone {
  text-decoration: none;
  background-color: black;
  color: white;
  border: 1px solid white;
  font-family: px;
  font-size: 22px;
  padding: 6px 18px 6px 18px;
  transition: 0.5s;
}

.bottone:hover {
  background-color: white;
  color: black;
}

/* ---------------NAVBAR----------------------- */

#navbar {
  position: fixed;
  justify-content: space-between;
  width: 100%;
  display: flex;
  /* background-color: #262626; */
  font-size: 22px;
  top: 0;
  z-index: 2;
  font-weight: 100;
}

.navbar-button {
  padding: 6px 12px 6px 12px;
}
.chapters-button {
  padding-left: 12px;
  padding-right: 12px;
}

#navbar a:hover {
  color: white;
  transition: 0.2s;
}

#active,
#home,
#about {
  color: rgb(255, 255, 255);
}

a {
  color: #5c5c5c;
  text-decoration: none;
  font-weight: normal;
}

/* ------------------------THUMBNAILS------------------------- */

#thumbnail-group {
  width: 100vw;
  position: absolute;
  left: 20%;
  /* top: 225vh; */
  width: 60%;
}

.thumbnail {
  display: inline-block;
  /* width: 170px;
  height: 100px; */
  width: 10vw;
  height: 11vh;
  margin: 5px 5px 5px 5px;
  top: 100vh;
  background-color: aqua;
  z-index: 9;
  transition: 0.5s;
  background-size: cover;
}

#t1 {
  background-image: url("assets/thumbnails/netflix_thumbnails/1.jpg");
}
#t2 {
  background-image: url("assets/thumbnails/primevideo_thumbnails/4.jpg");
}
#t3 {
  background-image: url("assets/thumbnails/random_login_youtube_thumbnails/4.jpg");
}
#t4 {
  background-image: url("assets/thumbnails/youtube_logout_thumbnails/2.jpg");
}
#t5 {
  background-image: url("assets/thumbnails/twitch_thumbnails/15.jpg");
}
#t6 {
  background-image: url("assets/thumbnails/netflix_thumbnails/3.jpg");
}
#t7 {
  background-image: url("assets/thumbnails/primevideo_thumbnails/2.jpg");
}
#t8 {
  background-image: url("assets/thumbnails/netflix_thumbnails/22.jpg");
}
#t9 {
  background-image: url("assets/thumbnails/netflix_thumbnails/23.jpg");
}
#t10 {
  background-image: url("assets/thumbnails/primevideo_thumbnails/30.jpg");
}
#t11 {
  background-image: url("assets/thumbnails/youtube_thumbnails/34.jpg");
}
#t12 {
  background-image: url("assets/thumbnails/netflix_thumbnails/44.jpg");
}
#t13 {
  background-image: url("assets/thumbnails/random_logout_primevideo_thumbnails/41.jpg");
}
#t14 {
  background-image: url("assets/thumbnails/youtube_thumbnails/billie.jpg");
}
#t15 {
  background-image: url("assets/thumbnails/netflix_thumbnails/8.jpg");
}
#t16 {
  background-image: url("assets/thumbnails/primevideo_thumbnails/8.jpg");
}
#t17 {
  background-image: url("assets/thumbnails/youtube_thumbnails/h3.jpg");
}
#t18 {
  background-image: url("assets/thumbnails/netflix_thumbnails/16.jpg");
}
#t19 {
  background-image: url("assets/thumbnails/youtube_thumbnails/mct.jpg");
}
#t20 {
  background-image: url("assets/thumbnails/primevideo_thumbnails/35.jpg");
}
#t21 {
  background-image: url("assets/thumbnails/netflix_thumbnails/2.jpg");
}
#t22 {
  background-image: url("assets/thumbnails/random_login_primevideo_thumbnails/20.jpg");
}
#t23 {
  background-image: url("assets/thumbnails/youtube_thumbnails/fortnite.jpg");
}
#t24 {
  background-image: url("assets/thumbnails/netflix_thumbnails/5.jpg");
}
#t25 {
  background-image: url("assets/thumbnails/youtube_thumbnails/ciccio.jpg");
}

/* ------------------------------------------------------------ */

#intro2 {
  text-align: center;
  align-items: center;
  justify-content: center;
}
#intro4 {
  display: flex;
  flex-direction: column;
}
.sotto {
  z-index: 0;
}
h1 {
  font-style: normal;
  font-size: 12vw;
  font-weight: 100;
  /* color: white; */
  margin-top: 5vh;
}
#landing {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
}
#freccia {
  height: 50px;
  /* position: absolute; */
  margin-bottom: 40px;
}
#myVideo {
  position: absolute;
  top: 100vh;
}
#begin {
  margin-top: 15vh;
  padding: 40px 50px 40px 50px;
  font-size: 30px;
  font-weight: 100;
}
#container::before {
  pointer-events: none;
}
#intro1 {
  background-image: url("./assets/fight-tr_4.gif");
  background-repeat: no-repeat;
  background-position: center;
}
/* ------------------------ABOUT------------------------------------ */

#about-container {
  background-color: black;
  height: 100%;
  color: white;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#about-intro-text {
  margin: 0;
  margin-bottom: 7vh;
  font-weight: 100;
}

#about-intro {
  font-size: 30px;
  width: 50vw;
  margin-top: 10vh;
}
.about-button {
  font-weight: 100;
  text-align: left;
  background-color: black;
  color: white;
  border: none;
  font-size: 24px;
  font-family: px;
  padding: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.about-section {
  border: 1px solid white;
  width: 50vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  color: black;
}

.about-section-text {
  font-size: 24px;
  font-weight: 200;
  padding: 0 24px 0 24px;
}
.content {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

#last-about-section {
  margin-bottom: 100px;
}
#about-container::before {
  pointer-events: none;
}
.active,
.about-button:hover {
  background-color: white;
  color: black;
}
#about-container::-webkit-scrollbar {
  display: none;
}
#gruppo-capitoli {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.capitolo {
  color: white;
  width: 16vw;
  border: 1px solid white;
  margin: 0 6px 0 6px;
  padding: 16px;
  font-size: 18px;
  transition: 0.3s;
}
.capitolo-text {
  padding: 0;
  margin: 0 0 14px 0;
}
.capitolo-img {
  height: 300px;
  background-image: url("./assets/1.jpeg");
  background-size: cover;
  margin-bottom: 20px;
}
h2 {
  font-weight: 100;
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}
.capitolo:hover {
  /* background-color: white;
  color: black; */
  transform: translate(0, -10px);
}
