body{
  overflow: hidden;
  background-color: black;
}
@font-face {
  font-family: "Px-Grotesk";
  src: url('fonts/Px Grotesk Regular.ttf');
}
.row{
    cursor: pointer;
    height: calc(100vh/9);
    margin: 0px 0px 0px 0px;
    transition: all 0.4s ease-in-out;
  }
  #about{
    left:2%;
  }
  #finding1{
    left:2%;
  }
  #finding2{
    left:60%;
  }
  #finding3{
    left:20%;
  }
  #finding4{
    left:70%;
  }
  #description{
    position:absolute;
    width:40px;
    height:40px;
    top:50%;
    left:80%;
    transform: translate(-50%;-50%);
    z-index: 10;
    transition:all 0.4s ease-in-out;
    background-color: blue;
  }
  .titolo{
    font-size: calc(50vw/12);
    font-family:'Px-Grotesk';
    font-weight: bold;
    position: relative;
    opacity:0.6;
    width:40%;
    top:50%;
    overflow: hidden;
    transition:0.2s ease-in-out;
    color:white;
    transform: translate(0%,-50%);
    margin:0px 0px 0px 0px;
  }
  .titolo:hover{
    opacity:1;
  }
  #schedario {
    right: 0%;
    top: 0%;
    position: absolute;
    margin: 0 auto;
    z-index: 9;
    text-align: left;
    width: 100vw;
    height: 100vh;
  }
