@font-face {
  font-family: PxGroteskRegular;
  src: url("./assets/fonts/PxGrotesk/Px\ Grotesk\ Regular.ttf");
}
body {
  font-family: PxGroteskRegular;
  background-color: black;
  user-select:none;
  margin:0;
}
a {
  color: #5c5c5c;
  text-decoration: none;
  font-family: PxGroteskRegular;
  font-weight: normal;
}

#navbar {
  position: fixed;
  justify-content: space-between;
  width: 100%;
  top:0%;
  left:0;
  background-color: black;
  display: flex;
  /* background-color: #262626; */
  font-size: 20px;
}
#question {
  font-size:1.2vw;
  margin-left:2%;
  width:15vw;
  word-break:normal;
  position:absolute;
  color:white;
  left:0;
  top:5%;
}
.navbar-button {
  padding: 6px;
}
.chapters-button {
  padding-left: 12px;
  padding-right: 12px;
}

#navbar a:hover {
  color: white;
  transition: 0.2s;
}
#home{
  padding-left:1.5%;
}
#active, #home, #about {
  color: white;
}
#textpix{
  position:absolute;
  color:white;
  font-size:2vw;
  left:0;
  top:28%;
}
#counterpix{
  position:fixed;
  left:2%;
  top:35%;
  z-index:2;
  width:20vw;
  height:20vh;
}
.counter {
  user-select: none;
  bottom:0;
  left:0;
  width:16vw;
  margin-top:23vh;
  margin-left:3.2vw;
  cursor:default;
  font-size: 28px;
  color:white;
  font-family: PxGroteskRegular;
}
#nvideos{
  margin-left:0;
}
img{
  width:16vw;
  top:0;
  right:0;
  position:relative;
  margin-right:6vh;
  vertical-align: top;
  object-fit: contain;
}
#campo{
  height:95vh;
  width:100vw;
  display:flex;
  flex-direction:row;
  position:fixed;
  transition: all 0.5s ease-in-out;
  bottom:0%;
  left:0;
}
  
#pixels {
  text-align:left;
  font-size:4vw;
  margin-top:0;
  margin-left:0;
  z-index:3;
  color:white;
}
.screen {
  top: 10vh;
}
.flexioni{
  pointer-events:none;
}
#goon{
bottom:3%;
opacity:0;
  right:3%;
  height:40px;
  width:160px;
  position: fixed;
  display:flex;
  border-style:solid;
  flex-direction: column;
  text-align: center;
  align-items:center;
  justify-content: center;
  border-width:1px;
  border-color: white;
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  font-family: PxGroteskRegular;
  cursor:pointer;
color:white;
}
#goon:hover{
  background-color: white;
}
#goon:hover > #next{
  color:black;
}
#counterbar{
  position:fixed;
  display:flex;
  flex-direction:row;
 top:-5%;
  right:0;
  align-items:right;
  width:77vw;
  height:28vh;
  background-color: black;
}
#container{
  position:absolute;
  right:0;
  height:100vh;
  align-items: right;
  top:13vh;
  width:77vw;
}