@font-face {
  font-family: PxGroteskRegular;
  src: url("./assets/fonts/PxGrotesk/Px\ Grotesk\ Regular.ttf");
}

body {
  font-family: PxGroteskRegular;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

a {
  color: #5c5c5c;
  text-decoration: none;
  font-weight: normal;
}

#navbar {
  position: absolute;
  justify-content: space-between;
  width: 100%;
  display: flex;
  /* background-color: #262626; */
  font-size: 20px;
}

.navbar-button {
  padding: 6px;
}
.chapters-button {
  padding-left: 12px;
  padding-right: 12px;
}

#navbar a:hover {
  color: white;
  transition: 0.2s;
}
#home{
  padding-left:1.5%;
}
#active, #home, #about {
  color: white;
}
#campo{
  height:95vh;
  width:100vw;
  display:flex;
  flex-direction: column;
background-color: black;
  position:fixed;
  transition: all 0.5s ease-in-out;
  bottom:0%;
  left:0;
}
#searchrow,#statsrow{
  display:flex;
  width:100vw;
  padding-top:3vh;
  flex-direction: row;
  align-items: center;
  height:6vh;
  border-width: 0 0 0 0;
border-style:solid;
border-color:white;
}
#statsrow{
  height:8vh;
  justify-content: right;
}
#columnbox{
  display:flex;
  width:100vw;
  flex-direction: row;
  height:81vh;
}
.thumbnail{
  height:85%;
  width:65px;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display:inline-block;
  transition:all 0.4s ease-in-out;
  margin:0 0 0 6px;
  background-color: transparent;
  border-style:solid;
  border-color:white;
  border-width:1px;
}
.column{
  border-width: 0 0 0 0;
border-style:solid;
border-color:white;
width:20%;
transition:all 0.4s ease-in-out;
visibility: visible;
height:90%;
flex-direction: column;
display:flex;
}
.statsbox{
  height:100%;
  width:20%;
  border-width: 0 0 0 0;
  position: relative;
border-style:solid;
border-color:white;
}
#searchbox{
width:30vw;
height:75%;
border-color:black;
background-color: white;
align-items: center;
border-width:2px;
position:relative;
flex-direction: row;
margin-left:0.8%;
border-style:solid;
display:flex;
}
#instructions{
  width:20vw;
  height:100%;
  background-color: black;
  align-items: center;
  flex-direction: row;
  display:flex;
  }
#banner{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 5vh;
  border-style: solid;
  background-color: black;
  border-color:white;
  border-width: 0 0 1px 0;
}
#titolopag{
  font-family: PxGroteskRegular;
  font-size:1.4vw;
  width:30vw;
  top:50%;
  left:1%;
  transform: translate(0,-50%);
  position: absolute;
  margin:none;
  text-align: left;
  font-style:normal;
  color:white;
}
#backmenu{
  position:absolute;
  color:white;
  transform: translate(0,-50%);
  top:50%;
  right:3vw;
  font-size:1.4vw;
}
h1{
  font-size: 12pt;
  color:black;
  font-family: PxGroteskRegular;
  margin:0px;
}
p{
  font-size: 1.3vw;
  color:white;
  font-family: PxGroteskRegular;
  margin-left:2%;
  align-self:center
}
.titles{
  color:white;
  left:2%;
  font-size:10pt;
  margin-left:4%;
  margin-top:6%;
}
.off{
  visibility: hidden;
}
.row{
  height:8.333%;
  width:95%;
  display:flex;
  border-color:white;
  border-style: solid;
  border-width:0 0 0 0;
  margin-right:20px;
}
#column1{
  margin-left:0.2%;
}
#logintext,#gibberish{
  color:white;
  margin-left:4%;
}
#logintext{
  margin-left:10%;
}
#login, #randomizza{
  display:flex;
  font-size:12pt;
  color:white;
  position: relative;
  width:60px;
  align-self: center;
  height:60%;
  margin-left:15px;
  cursor:pointer;
}
#searchbutton{
  font-size:12pt;
  width:5%;
  position:absolute;
right:3%;
  text-align: right;
}
#searchinput,#searchakira{
  left:4%;
  display:flex;
  position:relative;
}
#title {
  position: absolute;
  top:-100%;
  overflow: auto;
  margin:0px;
  font-size:20pt;
  color:black;
 text-align: center;
 left:50%;
 width:80%;
 transform: translate(-50%,0%);

}
#boxino,#boxino2{
  width:3vh;
  border-color:white;
  border-style: solid;
  position:absolute;
  border-width: 3px;
  transition:all 0.4s ease-in-out;
  background-color:black;
  height:3vh;
}
#pallino,#pallino2{
  left:50%;
  position: absolute;
 transition:all 0.4s ease-in-out;
  top:50%;
  transform: translate(-50%,-50%);
  background-color:white;
  width:0vh;
  height:0vh;

}