body{
  overflow: hidden;
  user-select: none;
  background-color: black;
}
@font-face {
  font-family: alpina-light;
  src: url("./assets/fonts/alpina/GTAlpina-Light.otf");
}
@font-face {
  font-family: banana-light;
  src: url("./assets/fonts/banana/BananaGrotesk-Light.otf");
}
@font-face {
  font-family: laica-regular;
  src: url("./assets/fonts/laica/LaicaA-Regular.ttf");
}
@font-face {
  font-family: laica-italic;
  src: url("./assets/fonts/laica/LaicaA-RegularItalic.ttf");
}
#campo{
  height:95vh;
  width:100vw;
  position:fixed;
  bottom:0%;
  left:0;
}
#banner{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 5vh;
  border-style: solid;
  background-color: black;
  border-color:white;
  border-width: 0 0 1px 0;
}
#titolopag{
  font-family:laica-italic;
  font-size:1.4vw;
  width:30vw;
  top:50%;
  left:1%;
  transform: translate(0,-50%);
  position: absolute;
  margin:none;
  text-align: left;
  font-style:normal;
  color:white;
}
#backmenu{
  position:absolute;
  color:white;
  transform: translate(0,-50%);
  top:50%;
  right:3vw;
  font-size:2vw;
}
#tutorial{
  height:100vh;
  width:100vw;
  position:fixed;
  display: flex;
  flex-direction: column;
  align-content:center;
  justify-content: center;
  top:0;
  left:0;
  background-color: black;
}
#ready{
  font-family:banana-light;
  font-size:2vw;
  text-align: center;
  color:white;
}
#countdown{
  font-family:laica-italic;
  font-size:4.5vw;
  display:hidden;
  text-align: center;
  color:white;
}
#title{
  font-family:laica-italic;
  font-size:3vw;
  text-align: center;
  font-style:normal;
  color:white;
}
#bottone1{
display:block;
top:50%;
left:50%;
}
#bottone2{
display:none;
top:75%;
left:30%;
}
#bottone3{
  display:none;
  top:10%;
  left:90%;
}
#bottone4{
  display:none;
  top:60%;
  left:20%;
}
#bottone5{
  display:none;
  top:40%;
  left:40%;
}
#testobox{
  width:40vw;
  height:40vh;
  position:absolute;
  top:0%;
  left:2%;
}
#testo1 {
  display: block;
  position: absolute;
  font-family:banana-light;
  top:3%;
  background-color: black;
  font-size: 20pt;
  color: white;
  overflow:auto;
}
#goon{
  bottom:30%;
  position: absolute;
  font-family:banana-light;
color:black;

}
#testo2 {
  display: block;
  position: absolute;
  font-family:banana-light;
  font-size: 20pt;
  width:23vw;
  text-align:left;
  height:15vh;
  bottom:0%;
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
  left:-25%;
  color: white;
  overflow:visible;
}
span{
  background-color: black;
}
canvas{
  position:absolute;
  z-index:-1;
  display:block;
}
.bottone {
  position:absolute;
  background-color: rgb(24, 240, 150);
  width:10vw;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  height:10vw;
}
