body{
  overflow: hidden;
}
#square1{
display:block;
top:50%;
left:50%;
}
#square2{
display:none;
top:75%;
left:30%;
}
#square3{
  display:none;
  top:10%;
  left:90%;
}
#square4{
  display:none;
  top:60%;
  left:20%;
}
#square5{
  display:none;
  top:40%;
  left:40%;
}
#testo1 {
  display: block;
  position: absolute;
  font-size: 20pt;
  width:40vw;
  height:60vh;
  top:0%;
  color: black;
  overflow:auto;
}
#testo2 {
  display: block;
  position: absolute;
  font-size: 24pt;
  width:40vw;
  text-align:right;
  height:15vh;
  top:70%;
  transition: all 1s cubic-bezier(0, 0, 0.58, 1);
  right:-65%;
  color: black;
  overflow:auto;
}
.bottone {
  position:absolute;
  background-color: blue;
  width:10vw;
  transition: all 0.4s ease-in-out;
  height:10vw;
}
