body{
  /* overflow: hidden; */
}
#searchbox{
width:20vw;
height:40px;
border-color:black;
border-width:2px;
border-style:solid;
position:fixed;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}
h1{
  font-size: 12pt;
  color:black;
  position: absolute;
  margin:0px;
  align-self: auto;
  width:50%;
  top:50%;
  left:2%;
  transform:translate(0%,-50%);
}
#login{
  position:absolute;
  top:120%;
  left:2%;
  font-size:12pt;
  color:white;
  background-color: blue;
  width:30%;
  height:40px;
  cursor:pointer;
}
#searchbutton{
  font-size:30pt;
  top:42%;
  right:3%;
  width:40%;
  position: absolute;
  text-align: right;
  margin:0px;
  transform:translate(0%,-50%);
}
#title {
  position: absolute;
  top:-100%;
  overflow: auto;
  margin:0px;
  font-size:20pt;
  color:black;
 text-align: center;
 left:50%;
 width:80%;
 transform: translate(-50%,0%);

}

.card {
  width: 18rem;
}